[submodule "async-techniques-python-course"]
	path = async-techniques-python-course
	url = https://github.com/talkpython/async-techniques-python-course
[submodule "100daysofcode-with-python-course"]
	path = 100daysofcode-with-python-course
	url = https://github.com/talkpython/100daysofcode-with-python-course.git
[submodule "consuming_services_python_demos"]
	path = consuming_services_python_demos
	url = https://github.com/talkpython/consuming_services_python_demos
[submodule "write-pythonic-code-demos"]
	path = write-pythonic-code-demos
	url = https://github.com/talkpython/write-pythonic-code-demos
