{% extends "base.html" %}
{% block page %}
<h1>{{ course }}</h1>
<div class="row">
    <div class="col-md-2">
        <ul>
            {% for c in chapters %}
                <li><a href="/{{ c }}">{{ c }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <h2>{{  chapter }}</h2>
        <ul>
            {% for s in sections %}
                <li><a href="/{{ chapter }}/{{ s }}">{{ s }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-7">
        <h3>{{  section }}</h3>
        <p>{{  text }}</p>
    </div>
</div>
{%  endblock page %}
